@model TrainingDiary.Models.ViewModels.ExerciseViewModel
@{
    ViewData["Title"] = "Exercise Details";
}

<div class="container">
    <h4>@Model.Name</h4>
    <p>@Model.Category.Name</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Reps</th>
                <th scope="col">Weight</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var serie in Model.SeriesViewModels)
            {
                <tr>
                    <td>0</td>
                    <td>@serie.Reps</td>
                    <td>@serie.Weight kg</td>
                </tr>
            }

        </tbody>

    </table>
    <div class="text-center">
        <a class="btn btn-dark" asp-controller="Summary" asp-action="TrainingSummary" asp-route-TrainingNumber="@ViewBag.TrainingNumber">Back</a>
    </div>
</div>
