@model TrainingDiary.Models.ViewModels.CreateTrainingViewModel
@{
    ViewData["Title"] = "CreateTraining";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Training nr: @Model.TrainingNumber</h5>
        </div>
        <div class="col">
            <h5>Training length: @Model.TrainigTime</h5>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">Add Exercises</h3>
    </div>



    <form asp-controller="Training" asp-action="CreateTraining" method="get">
        @Html.HiddenFor(t => t.TrainingNumber)
        <div class="input-group">
            <input type="text" class="form-control" name="searchString" placeholder="search name">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>

            </div>
        </div>

    </form>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Add</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.ExerciseViewModels.Count(); i++)
            {


                <tr>
                    <td>@Model.ExerciseViewModels[i].Category.Name</td>
                    <td>@Model.ExerciseViewModels[i].Name</td>
                    <td>
                        <form asp-controller="Training" asp-action="CreateTraining" method="post">
                            @Html.HiddenFor(t => t.TrainingNumber)
                            <input data-val="true" data-val-required="The Id field is required" id="ExerciseId"
                                name="ExerciseId" type="hidden" value="@Model.ExerciseViewModels[i].Id"/>
                            <input class="btn btn-primary" type="submit" value="Add" />
                        </form>
                    </td>

                </tr>
            }

        </tbody>

    </table>


    <h3>Done Exercises</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doneExercise in Model.DoneExerciseViewModels)
            {
            <tr>
                <td>@doneExercise.Category.Name</td>
                <td>@doneExercise.Name</td>
                <td><a class="btn btn-dark" asp-controller="Training" asp-action="ExerciseDetails" asp-route-exerciseId="@doneExercise.Id">Details</a></td>
                <td><a class="btn btn-danger" asp-controller="Training" asp-action="DeleteExercise" asp-route-exerciseId="@doneExercise.Id">Remove</a></td>
            </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary text-center" asp-controller="Home" asp-action="Index">Finish</a>
</div>



